.container {
  overflow: scroll;
}

.container::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: #6441A5;
  border-radius: 10px;
  border: 2px solid #6441A5;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #7F53AC;
}
