/* Portfolio Link Section */
.portfolio-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  border-bottom-style: solid;
  border-width: 2px;
}

.portfolio-link > .portfolio-link-inner {
  font-family: ligurino,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-align: center;
}

/* Dev Log Link Section */
.devlog-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  background-color: #e2eff9;
  border-bottom-style: solid;
  border-width: 2px;
}

.devlog-link > .devlog-link-inner {
  font-family: ligurino,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-align: center;
}

/* Portfolio Button */
.portfolio-link-inner > a .buttonP {
  display: inline-block;
  border-radius: 50px;
  background-color: #487da8;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.portfolio-link-inner > a .buttonP:hover {
  background-color: #385872;
}

.portfolio-link-inner > a .buttonP span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.portfolio-link-inner > a .buttonP span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.portfolio-link-inner > a .buttonP:hover span {
  padding-right: 25px;
}

.portfolio-link-inner > a .buttonP:hover span:after {
  opacity: 1;
  right: 0;
}

/* Devlog Button */
.devlog-link-inner > a .buttonDL {
  display: inline-block;
  border-radius: 50px;
  background-color: #385872;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.devlog-link-inner > a .buttonDL:hover {
  background-color: #487da8;
  border-radius: 20;
}

.devlog-link-inner > a .buttonDL span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.devlog-link-inner > a .buttonDL span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.devlog-link-inner > a .buttonDL:hover span {
  padding-right: 25px;
}

.devlog-link-inner > a .buttonDL:hover span:after {
  opacity: 1;
  right: 0;
}