* {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .title h1 {
  font-family: ligurino,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
}

nav .title p {
  font-family: ligurino,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

li {
  margin: 0 1em;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
  transition: color 0.3s;
}

nav a:hover {
  color: #487da8;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  font-family: poppins,sans-serif;
}

footer .container {
  padding-left: 75px;
  padding-right: 75px;
}

footer .title h1 {
  font-family: ligurino,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
}

footer .title p {
  font-family: ligurino,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  transition: color 0.3s;
}

footer a:hover {
  color: #487da8;
}
